:root {
  background-color: rgb(124, 169, 228);
}

* {
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
/* Main landing page */
header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    top: 0;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
}


.intro {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
}

.intro-text {
  display: inline-block;
  text-align: center;
}
/* Buttons */
.btn {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 25px;
  background: rgb(85, 41, 146);
  cursor: pointer;
  text-shadow:
   0.025em 0.025em 0 yellow,
   0.05em 0.05em 0 blue,
   0.075em 0.075em 0 red,
   0.1em 0.1em 0 black
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(73, 28, 135, 0.6);
  transition: transform 150ms;
  transform: scale(1.03);
}
/* Option choices  */
.option {
  display: flex;
  margin-bottom: 6px;
  height: 15%;
  width: 100%;
  border-radius: 100px;
  background: rgb(85, 41, 146);
  font-size: 1.1rem;
}

.option:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(73, 28, 135, 0.6);
  transform: scale(1.03);
  transform: transform 90ms;
}

.option-prefix {
  padding: 1.5rem 2rem;
  color: #fff;
}

.option-text {
  padding: 1rem;
  width: 100%;
}

.correct {
  background: linear-gradient( green);
}

.incorrect {
  background: linear-gradient( red);
}
















